@import 'base/reset';
@import 'base/variables';
@import 'base/fonts';

@import 'components/todo';
@import 'components/task';

@import 'util/mixins';

body{
    @include fontFamily();
    max-height: 100vh;
}

main{
    height: 100vh;
    width: 100%;
    @include flexCenter();
    background-color: $grayColor;
    flex-direction: column;
}

