@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, form, dialog {
  all: unset;
}

h1 {
  color: white;
  font-size: 14px;
  margin: 30px 0;
  text-align: center;
  font-weight: 500;
}
h1 span {
  color: #8000ff;
}

.todo__header--container {
  height: 50px;
  width: 350px;
  background-color: #141414;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.todo__header--input {
  width: 80%;
  height: 100%;
  background-color: #141414;
  border-radius: 10px;
  color: white;
  padding-left: 14px;
  font-size: 1.1rem;
}

button.todo__header--button {
  width: 15%;
  height: 100%;
  background-color: #8000ff;
  color: white;
  border-radius: 10px;
  text-align: center;
  float: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
button.todo__header--button:hover {
  filter: brightness(1.2);
  transition: 0.2s ease;
}

.todo__body--container {
  min-height: 350px;
  width: 350px;
  display: flex;
  background-color: #141414;
  border-radius: 10px;
  margin: 10px 0;
}
.todo__body--container p {
  visibility: hidden;
  position: absolute;
  font-size: 14px;
  margin: 15px;
  margin-top: 30px;
  color: white;
  text-align: center;
  width: 335px;
}
.todo__body--container ul {
  width: 100%;
  padding: 10px;
}
.todo__body--container ul .task__container {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.todo__body--container ul .task__container li {
  min-height: 34px;
  padding: 5px 10px;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  border-radius: 10px;
  color: white;
  background: #8000ff;
}
.todo__body--container ul .task__container li:hover {
  filter: brightness(1.2);
  transition: 0.2s ease;
  filter: brightness(1.2);
}
.todo__body--container ul .task__container li.completed {
  color: #717171 !important;
  background-color: #1f1f1f !important;
}
.todo__body--container ul .task__container li.completed::before {
  content: "✓";
  width: 20px;
  position: relative;
  margin-right: 5px;
  color: rgb(0, 255, 21);
  text-align: center;
}
.todo__body--container ul .task__container span {
  padding: 0 0 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 50%;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.todo__body--container ul .task__container span:hover {
  color: rgb(255, 0, 0);
  transition: 0.2s ease;
  filter: brightness(1.2);
}
.todo__body--container ul .task__container button {
  background-color: #8000ff;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.todo__footer--container {
  margin-bottom: 10px;
  height: 50px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.todo__footer--container .todo__footer--button {
  font-size: 12px;
  color: white;
}
.todo__footer--container .todo__footer--button:hover {
  transition: 0.2s ease;
  filter: brightness(1.2);
  color: red;
}

.show {
  visibility: visible !important;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

#modal {
  visibility: hidden;
  position: absolute;
  margin-bottom: 130px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal form {
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  border: 1px solid #8000ff;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  flex-direction: column;
}
#modal form h2 {
  font-weight: 500;
  font-size: 16px;
}
#modal form div.form__buttons {
  display: flex;
  flex-direction: row;
}
#modal form button {
  background-color: #8000ff;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 5px 10px;
  margin: 5px;
}
#modal form button:hover {
  transition: 0.2s ease;
  filter: brightness(1.2);
}

body {
  font-family: "Poppins";
  font-weight: 500;
  background-color: #000;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  margin: 0 20px;
}

.error {
  color: red;
}

.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}/*# sourceMappingURL=main.css.map */